body{
    background-color: #edf2fb;
    color: #0A3871;
}

body.dark {
    background-color: #33415c;
    color: #D8DFE8;
    }

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
    height: 48px;
    object-fit: contain;
}
h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Inter';
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left:  80px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

#sec1{
    width: 60%;
    height: 80vh;
}



.ingresetexto{
    background-color: inherit;
    color: inherit;
    border: none;
    margin-top: 90px;
    text-transform: lowercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    width: 90%;
    height: 60%;

}
::placeholder{
    font-style: italic;
}

.ingresetexto:focus{
    outline: none;
}
.btn{
    display: flex;
    height: 10%;
    margin-top: 18px;    
}
.btnEncriptar{
    width: 25%;
    height: 67px;
    color: white;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
    position: absolute;
    bottom: 150px;
    left: 7%;
}

.btnDesencriptar{
    width: 25%;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
    position: absolute;
    bottom: 150px;
    left: 33%;

}

#sec2{
    width: 30%;
    background-color:#edf2fb;
    color: #0A3871;
    border: none;
    border-radius: 24px;
    margin-left: 5%;
    margin-top: 20px;
    height: 80vh;



}

.noText{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.mensaje{
    display: none;
    background-color: transparent;
    border: none;
    border-radius: 24px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    width: 90%;
    height: 80%;
    
}
.mensaje:focus{
    outline: none;
}
.btnCopiar{
    display:none;
    position: absolute;
    margin-top: 10%;
    bottom: 150px;
    right: 7%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 25%;  
    border-radius: 24px;
}

.information{
    color: gray;
    font-size: 25px;
}

      /* toggle code */

        .checkbox {
        opacity: 0;
        position:absolute;
        
        }

        .label {
        width: 30px;
        height: 8px;
        top: 15px;
        background-color:rgb(6, 10, 49);
        display: flex;
        border-radius:20px;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        position: relative;
        transform: scale(1.5);
        box-sizing:unset;
        }
        .ball {
        width: 22px;
        height: 22px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 4px;
        left: 6px;
        border-radius: 50%;
        transition: transform 0.2s linear;
        }
        .checkbox:checked + .label .ball{   /*  target the elemenent after the label*/
        transform: translateX(18px);
        }
        .label i {
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-style: normal;
        background-color:rgb(6, 10, 49);
    }
      /* here ends the toggle code */

      @media screen and (max-width: 980px) {  
        main{
            display: flex;
            flex-direction: column;
        }
        #sec1{
            width: 100%;
            height: 100%;
            margin-bottom: 5vh;

        }
        .ingresetexto{
            height: 40vh;
        }

        .btnEncriptar,
        .btnDesencriptar,
        .btnCopiar{
            position: inherit;
            width: 45%;
            right: 0%;

        }
.btnCopiar{
    width: 100%;
}
        #sec2{
            position: initial;
            width: 90%;
            margin-left: 0%;
            margin-top: 0px;
            height: 100%;

        }
        .muneco{
            display: none;
        }

      }
      
      @media screen and (max-width: 768px) {

        main{
            display: flex;
            flex-direction: column;
        }
        #sec1{
            width: 100%;
            height: 100%;
            margin-bottom: 5vh;

        }
        .ingresetexto{
            height: 40vh;
        }
        .btn{
            display: flex;
            flex-direction: column;
        }
        .btnEncriptar,
        .btnDesencriptar,
        .btnCopiar{
            position: inherit;
            width: 90%;
            right: 0%;

        }
.btnCopiar{
    width: 100%;
}
        #sec2{
            position: initial;
            width: 90%;
            margin-left: 0%;
            margin-top: 0px;
            height: 100%;

        }
        .muneco{
            display: none;
        }
      }
      