*{
    background-color: #bdc5e4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

svg{
    padding-top: 10px;
    margin-left: 10px;
    width: 15%;

}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left:  80px;
}

.textarea{
    border: none;
    color: darkblue;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{
    color: darkblue;
}
.textarea:focus{
    outline: none;
}

.mensaje{
    background-color: white;
    background-image: url(./images/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: darkblue;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:focus{
    outline: none;
}
.btn{
    display: flex;
    margin-top: 18px;
    

}

.btnEncriptar{
    width: 328px;
    height: 67px;
    color: white;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btnDesencriptar{
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.btnCopiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: fixed;
    width: 336px;
}

.information{
    color: gray;
    font-size: 18px;
}